# --- SUMO Output Files ---
*.output.xml
*.log
*.pb
queue_dump.xml
tripinfo.xml
vehroute.xml
summary.xml

# --- OS & Tool Specifics ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Python Environment & Cache (If using TraCI) ---
__pycache__/
*.pyc
venv/
.env
